/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("../Assets/Images/Nairobi.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* Navigation */
#navigation{
    padding: 10px 0;
    border-bottom: 1px solid #f9004d;
}

.navMenu ul li{
    margin: 0px 15px;
}

.navMenu ul li a{
    color: grey;
    text-decoration: none;
}

.navMenu ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
    color: #f9004d;
    transition: all 0.5s ease-in-out;
}

.navMenu ul li a.active{
    color: #f9004d;
}

/* Mid Section */
#midSection{
    height: 70%;
    text-align: center;
    display: flex;
    align-items: center;
}

.name{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 80px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #f9004d;
    --fa-beat-fade-opacity: 0.5; 
    --fa-beat-fade-scale: 1.1;
    --fa-animation-duration: 3s;
}

.info{
    color: white;
    font-size: 22px;
}

.countryCode{
    color: #f9004d;
    text-decoration: underline;
}

.aboutMe{
    margin: 20px;
}

.aboutBtn{
    padding: 8px 20px;
    border: none;
    border-radius: 10px 0px 10px 0px;
    background-color: #f9004d;
    text-transform: uppercase;
}

.aboutBtn:hover{
    border-radius: 0px 10px 0px 10px;
    color: white;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}