/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
}

.titleSpan{
    font-family: 'Love Ya Like A Sister', sans-serif;
    color: #f9004d;
}

/* Navigation */
#navigation{
    padding: 10px 0;
    background-color: grey;
}

.navMenu ul li{
    margin: 0px 15px;
}

.navMenu ul li a{
    color: grey;
    text-decoration: none;
}

.navMenu ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
    color: #f9004d;
    transition: all 0.5s ease-in-out;
}

/* About Header */
#aboutHeader{
    border-radius: 0px 0px 15px 15px;
}

.sectionHeader{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.name, .nameType{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #f9004d;
}

.aboutImage{
    border: none;
    border-radius: 10%;
    padding: 20px;
}

/* Academics */
#academics{
    padding: 20px 0px;
    border-radius: 20px;
}

.schoolSection{
    padding: 50px 0;
}

.courseTitle{
    text-transform: uppercase;
    font-family: 'Love Ya Like A Sister', sans-serif;
    border-bottom: 1px solid grey;
    font-size: 40px;
}

/* -------Background */
#nairobi{
    padding: 30px 0;
}

.backgroundText{
    padding: 0 100px;
}

.tribeList{
    padding: 0px 120px;
    margin: 0;
}