/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
}

.titleSpan{
    font-family: 'Love Ya Like A Sister', sans-serif;
    color: #f9004d;
}

.subSectionTitle{
    text-transform: uppercase;
    font-family: 'Love Ya Like A Sister', sans-serif;
    border-bottom: 1px solid grey;
    font-size: 40px;
}

/* Navigation */
#navigation{
    padding: 10px 0;
    border-bottom: 1px solid #f9004d;
}

.navMenu ul li{
    margin: 0px 15px;
}

.navMenu ul li a{
    color: grey;
    text-decoration: none;
}

.navMenu ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
    color: #f9004d;
    transition: all 0.5s ease-in-out;
}

.navMenu ul li a.active{
    color: #f9004d;
}

/* About Header */
#aboutHeader{
    padding: 30px 0;
    border-radius: 0px 0px 15px 15px;
}

.sectionHeader{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.name, .nameType{
    font-family: 'Love Ya Like A Sister', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #f9004d;
}

.aboutImage{
    cursor: pointer;
    border: none;
    border-radius: 10%;
    padding: 20px;
}

.aboutImage:hover{
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

iframe{
    width: 100%;
    height: 500px;
    margin: 1rem auto;
    border: none;
    border-radius: 1rem;
}

/* Academics */
#academics{
    padding: 20px 0px;
    border-radius: 20px;
}

.schoolSection{
    padding: 50px 0;
}

/* -------Background */
#nairobi{
    padding: 30px 0;
}

.backgroundText{
    padding: 0 100px;
}

.tribeList{
    padding: 0px 120px;
    margin: 0;
}

/* --------Traditions */
#traditions{
    padding: 30px 0;
}

.tribe{
    cursor: pointer;
    padding: 30px;
    margin: 30px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #f9004d;
}

.tribe:hover{
    transform: scale(1.03);
    box-shadow: 3px 3px 10px #f9004d;
    transition: all 0.5s ease-in-out;
}

.destinations {
    padding: 3rem 0;
}

.destinations > h3 {
    margin: 1rem 0;
}

/* -------- Tourism */
#tourism{
    padding: 30px 0;
}

.attraction{
    padding: 30px;
}

.touristTable {
    width: 80%;
    margin: 2rem auto 0;
}

th{
    background-color: #999;
    border: 2px solid #111;
    padding: .5rem;
}

td{
    border: .5px solid #111;
    padding: .5rem;
}

.tourismImg{
    width: 100%;
    height: 100%;
}

.migration{
    padding: 3rem;
}

#migrationVideo{
    width: 70%;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

/* -------Contact */
#contact{
    padding: 30px 0;
}

.contact-item{
    cursor: pointer;
}

.contact-item{
    margin: 5px;
    background-color: transparent;
}

.contact-item:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.contact-item a{
    color: white;
    text-decoration: none;
}

.contactTitle{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Love Ya Like A Sister', sans-serif;
    letter-spacing: 1.05px;
}

.footer{
    padding: 15px 0;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 15px 15px 0 0;
}

.myLinks .fa{
    font-size: 30px;
    color: black;
    margin: 5px 15px;
    --fa-beat-fade-opacity: 0.7; 
    --fa-beat-fade-scale: 1.05;
    --fa-animation-duration: 2s;
}

.myLinks .fa:hover{
    color: #f9004d;
    transition: all 0.5s ease-in-out;
}
